<!Doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Battle Ship</title>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="css/battleship.css">
<script type="text/javascript" src="js/battleship.js"></script>
</head>
<body>
  <div id="main">
    <div class="board">
      <div class="boardName">
        <h2 class="playerBoard">Your Board</h2>
        <h2 class="oponentBoard">Oponent Board</h2>
      </div>
      <div class="displays">
        <div class="top">
          <ul class="grid"></ul>
        </div>
        <div class="bottom">
          <ul class="grid"></ul>
        </div>
      </div>
    </div>
    <div class="panel">
      <div class="topPanel">
        <div class="layout">
          <br/>
          <h4>  Selected ship :</h4>
          <div class='buttons ship'>Carrier</div>
          <h4> Select a ship : </h4>
          <div class="SelectShips">
            <div class='buttons bShip ship1'>Carrier : 4</div>
            <div class='buttons bShip ship4'>Submarine : 1</div>
          </div>
          <div class="SelectShips">
            <div class='buttons bShip ship2'>Battleship : 1</div>
            <div class='buttons bShip ship3'>Cruiser : 1</div>
            <div class='buttons bShip ship5'>Destroyer : 3</div>
          </div>

          <div class='buttons orientation'>Horizontal</div>
        </div>
      </div>
      <div class='console'>
        <span class='text'></span></div>
    </div>
    <div class="chat-input">
      <div class="playerno">No:</div>
      <div class="gameid">None</div>
    </div>
    <div class="container1">
      <div class="switches">
        <button class="button red"  style="background-color: indianred"    > red</button>
        <button class="button blue"  style="background-color: dodgerblue"> blue</button>
        <button class="button green"  style="background-color: darkseagreen"> green</button>
      </div>
      <div class="switches">
        <button class="button yellow"  style="background-color: lightgoldenrodyellow"> yellow</button>
        <button class="button pink"  style="background-color: lightpink">pink</button>
        <button class="button gray"  style="background-color: gray">gray</button>
      </div>
      <button class="colorbutton background" >Background</button>
  </div>
  </div>
</body>
</html>
